.btn {
    position: relative;
    padding: 0;

    font-family: $family;
    font-weight: 700;
    font-size: 1.4rem;

    border: 0;
    background: none;
    cursor: pointer;

    // svg path {
    //     fill: #354052;
    // }

    &:hover .btn__tooltip {
        display: block;
    }

    &__tooltip {
        position: absolute;
        top: -150%;
        left: 50%;

        transform: translateX(-50%);
        z-index: 1;

        display: none;
        padding: 5px 8px;

        font-size: 1.3rem;
        font-weight: 400;
        color: #fff;
        white-space: nowrap;

        background-color: #273142;
        border-radius: $radii;

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;

            transform: translateX(-50%);

            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }
    }

    &--settings {
        width: 40px;
        height: 40px;

        border-radius: $radii;

        transition: background-color 0.3s linear;

        svg path {
            transition: fill 0.3s linear;
        }
    }

    &--settings-dark {
        background-color: #273142;

        svg path {
            fill: #e9edf1;
        }

        &.active,
        &:hover {
            background-color: #354052;

            svg path {
                fill: #1f8efa;
            }
        }
    }
    &--settings-light {
        background-color: #fff;

        svg path {
            fill: #354052;
        }
        &.active,
        &:hover {
            background-color: #e9edf1;

            svg path {
                fill: #1f8efa;
            }
        }
    }

    &--fill-blue {
        padding: 12px;

        text-transform: uppercase;
        color: #fff;

        background-color: #1f8efa;
        border-radius: $radii;

        transition: background-color 0.3s linear;

        &:hover,
        &.active {
            background-color: #0085f0;
        }
    }

    &--outline {
        padding: 12px;
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;

        background: none;
        border-radius: $radii;
        border: 1px solid #dfe3e9;
    }

    &--user {
        width: 56px;
        height: 56px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 2.4rem;
        text-transform: uppercase;
        color: #516173;
        background: linear-gradient(0deg, #3a9eff -251.25%, #ecf6ff 50%);
    }

    &--help {
        width: 36px;
        height: 36px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #ffb300;
        border-radius: 50%;
    }

    &--start {
        width: 24px;
        height: 24px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #1f8efa;
        border-radius: 50%;
    }

    &--filter {
        font-size: 14px;
        line-height: 1.1;
        font-weight: 500;
        color: #354052;

        text-decoration: underline;
        text-decoration-color: #3a9eff;

        transition: color 0.3s linear;

        &:hover,
        &.active {
            text-decoration: none;
            color: #0085f0;
        }
    }

    &--widget-settings {
        width: 20px;
        height: 20px;

        display: flex;
        justify-content: center;
        align-items: center;

        svg path {
            fill: #516173;
        }

        &:hover,
        &.active {
            svg path {
                fill: #1f8efa;
            }
        }
    }

    &--underline {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.15;
        color: #354052;

        text-decoration: underline;
        text-decoration-color: #3a9eff;
    }

    &--user-panel-nav {
        position: relative;
        width: 56px;
        height: 56px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #273142;

        &:not(&:last-child)::after {
            content: '';
            position: absolute;
            bottom: 0;

            width: 32px;
            height: 1px;

            background-color: #516173;
        }

        &.notification {
            .user-panel__nav-item-icon {
                position: relative;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 1;

                    width: 12px;
                    height: 12px;

                    background-color: #ff3031;
                    outline: 2px solid#354052;
                    border-radius: 50%;
                }
            }
        }
        svg path {
            transition: fill 0.3s linear;
        }
        &:hover,
        &.active {
            background-color: #273142;
            span > svg path {
                fill: #1f8efa;
            }
        }
    }

    &--modal-help {
        width: 100%;
        text-align: left;
    }
}
