.chart-wrapper {
    position: relative;
    height: 300px;
    width: 300px;

    margin: 0 auto;
}

#chart-tasks-legend {
    margin-top: 16px;
}

#chart-tasks-legend ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 20px);
    gap: 8px;
}

#chart-tasks-legend li {
    display: flex;
    align-items: center;

    font-family: $family;
    font-size: 1.3rem;
    color: #516173;
}

#chart-tasks-legend span {
    width: 16px;
    height: 16px;
    margin-right: 8px;

    border-radius: 50%;

    border: 1px solid #fff;
    outline: 1px solid #dfe3e9;
}
