.user-panel {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;

    background-color: #273142;

    &__nav {
    }

    &__nav-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__nav-item {
    }

    &__btn-help {
        position: absolute;
        left: 50%;
        bottom: 14px;
        z-index: 1;
        transform: translateX(-50%);
    }
}
